## .NET Build & Artifacts
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.suo
.vs/
.vscode/
.idea/

## Node / NPM
node_modules/
package-lock.json

## Internal Spec Folder
test/

## OS & Temporary Files
.DS_Store
Thumbs.db
*.log
*.tmp
